.nav-wrap{
    overflow:hidden;
    padding:10px 0 5px;
    width:100%;
}
.nav-wrap a{
    float: left;
    width: 20%;
    display: block;
    text-align: center;
    white-space: nowrap;
    line-height: 36px;
    font-size: 14px;
    color:#333;
}
.nav-wrap a i {
    vertical-align: 3px;
    display: inline-block;
    width: 14px;
    height: 14px;
    border: solid #000;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    font-size: 0;
    line-height: 0;
}
.nav-wrap a i.cur {
    border-width: 1px 0 0 1px;
    vertical-align: -3px;
}